

body {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    color: white;
    font-size: 22px;
    margin-top: 0;
}

.Bio {
    color: white;
    font-size: 18px;
}

.me{
    height: 150px;
    /*width: 150px;*/
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-top: 40px;
}

.about {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gray {
    height: 3px;
    background-color: #7e8485;
    border: none;
    width: 50px;
}


.photocredit {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.tableStyle {
    color: white;
    font-size: 20px
}

td {
    padding: 18px;
}

.about-container{
    background: url(bg-tech.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 900px;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-top: 100px;
}

.yellow {
    border-top: 5px double ##F5A623;
    width: 250px;
    border-bottom: none;
    border-right: none;
}

.box {
    float: left;
    margin-left: 5%;
    width: 42.5%;
    margin-top: 80px;
}

.codebox {
    float: left;
    margin-left: 5%;
    width: 42.5%;
    margin-top: 80px;
    height: 200px;
    overflow-y: scroll;
}

.clear{
    clear: both;
}

h4 {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

.full-width{
    width: 100%;
}

.skills-and-tools{
    max-width: 400px;
    margin: 40px auto;
}

.icons{
    text-align: center;
}

.icon{
    margin: 30px 0;
}

.contact-me{
    height: 350px;
    background-color: #202020;
    padding-top: 30px;
}

.contact-headline{
    color: white;
    margin: 30px auto;
}

.contact-info{
    color: white;
    font-size: 13px;
    margin-top: 30px;
}

.contact-link{
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 30px;
}

.hire-me{
    border-style: solid;
    border-color: white;
    text-align: center;
}
