<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">

			<link
			    rel="stylesheet"
			    href="prism-atom-dark.css"
			    type="text/css"
			    media="screen"
		  	>

		  <script type="text/javascript" src="prism.js"></script>

		  <script type="text/javascript" src="prism.ruby.js"></script>

		  <title>Abhijit Khanna</title>
		  <meta name="description" content="Abhijit began his career as a developer, upon completion of a Computer Science undergraduate degree. After a few years of programming, Abhijit opted to make a foray into less technical roles in order to become more well-rounded and gain insight into the business world. Having honed his business/soft skills, Abhijit pursued his MBA. Following various analytical roles, Abhijit is currently pivoting back into technical roles in order to pursue his love of building things and applying technology to solve real world problems.">


		</head>
		<body>
			<div class="about-container">
	    		<ul>
<!-- 	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li> -->
					<li><a href="#" class="nav-link">ABOUT</a></li>
					<li><a href="#code-samples" class="nav-link">CODE SAMPLES</a></li>
					<li><a href="#web-apps" class="nav-link">WEB APPS</a></li>
					<li><a href="#skills-tools" class="nav-link">SKILLS &amp TOOLS</a></li>
					<li><a href="ABHIJIT KHANNA Resume.pdf" class="nav-link">RESUME</a></li>				
					<li class="hire-me"><a href="#hire-me" class="nav-link">HIRE ME</a></li>
	    		</ul>
			
				<div class="container">
				
				{{ content }}
				
				</div><!-- /.container -->


			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:abhijit.khanna@live.com">email</a></li>
	        		<li><a href="https://github.com/hindusteve">github.com/hindusteve</a></li>
				</ul>
			</footer>
		</body>
	</html>
